<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xytgy.teamallbackend.mapper.CartMapper">

    <resultMap id="BaseResultMap" type="com.xytgy.teamallbackend.entity.Cart">
            <id property="id" column="id" />
            <result property="user_id" column="user_id" />
            <result property="product_id" column="product_id" />
            <result property="quantity" column="quantity" />
            <result property="create_time" column="create_time" />
            <result property="update_time" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,product_id,quantity,create_time,update_time
    </sql>
</mapper>
